body {
    font-family: sans-serif;
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
    color: whitesmoke;
    margin: 0; 
    padding-top: 70px; 
    display: flex; /* Use flexbox to position sidebar and content */
}

header {
    text-align: left; 
    background-color: #011f4b; 
    color: whitesmoke; 
    padding: 10px; 
    font-size: 1.2em; 
    font-weight: bold; 
    border-bottom: 2px solid #159957; 
    margin: 0; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
}

.header-img {
    font-size: 1em; 
    margin-right: 10px; 
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 70px; /* Adjust to account for the fixed header */
    left: 0;
    background-color: #011f4b;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.2em;
    color: whitesmoke;
    display: block;
}

.sidebar a:hover {
    background-color: #159957;
    color: #011f4b;
}

.content {
    margin-left: 220px; /* Adjust to account for the sidebar width */
    padding: 20px;
    flex: 1; /* Allow content to take up remaining space */
}

/* Media queries for the responsiveness of the page */
@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
